<% provide(:title, 'Sign up') %>

<div class="container">
	<div class="row">
    	<div class="col-md-12">
        <h1>Sign up</h1>
    </div>
</div>
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <label class="control-label" for="exampleInputPassword1">Name</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="First Name / Last Name" type="name", autocomplete="on">
          </div>
          <div class="form-group">
            <label class="control-label" for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email", autocomplete="on">
          </div>
          <div class="form-group">
            <label class="control-label" for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password", autocomplete="on">
          </div>
        </form>
      </div>
    </div>
</div>